<!DOCTYPE HTML>
<!--
	Theory by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>畢業門檻查詢系統</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/main.css') }}" />
	</head>
	<body>

		<!-- Header -->
			<header id="header">
				<div class="inner">
					<a href="/" class="logo">畢業門檻查詢系統(Beta)</a>
					<nav id="nav">
						<a href="https://ohs01.ntpu.edu.tw/student_new.htm">學生資訊系統</a>
						<a href="http://www.csie.ntpu.edu.tw/">北大資工</a>
						<a href="https://www.ntpu.edu.tw/chinese/">台北大學</a>
					</nav>
					<a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
				</div>
			</header>

		<!-- Banner -->
			<section id="banner">
				<h1>此為105學年度入學適用之畢業計算程式</h1>
				<h3><b><font color="#FF0000">僅供參考使用<br></font><b>
			  </h3>
			</section>

		<!-- One -->
			<section id="one" class="wrapper">
				<div class="inner">
					<div class="flex flex-3">
						<article>
							<header>
								<h3>請輸入下列資訊以繼續</h3>
							</header>
							<form method='post' action="/search">
							<label>請輸入學生資訊系統帳號(學號)：</label>
							<input type="text" name="account">
							<label>請輸入學生資訊系統密碼：</label>
							<input type="password" name="password">
							<label>請輸入大學程式能力檢定通過題數：</label>
							<input type="number" name="cpe_num" min="0" max="7"><br>
							<br><input type="submit">
							<font color="#FF0000">{{ data }}</font>
							</form>
						</article>
							
						<article>
							<header>
								<h3>訊息公告</h3>
							</header>
							<label>此為測試版本，若有問題請回報</label>
							<a href="https://forms.gle/Zfsj2qvnibn5i7Jm6">回報問題請點我</a>
						</article>
						<article>
						</article>
					</div>
				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<div class="flex">
						<div class="copyright">
							&copy; Designer: Vincent Wang
						</div>
						<ul class="icons">
							<a href="https://github.com/Voltage-x/ntpuCsieGrad">Source Code</a>
						</ul>
					</div>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="{{ url_for('static', filename='assets/js/jquery.min.js') }}"></script>
			<script src="{{ url_for('static', filename='assets/js/skel.min.js') }}"></script>
			<script src="{{ url_for('static', filename='assets/js/util.js') }}"></script>
			<script src="{{ url_for('static', filename='assets/js/main.js') }}"></script>

	</body>
</html>